[Unit]
Description=The Lernstick firewall
DefaultDependencies=no
Before=basic.target dbus-org.freedesktop.nm-dispatcher.service

[Service]
Type=forking
ExecStart=/lib/systemd/lernstick-firewall start
ExecStop=/lib/systemd/lernstick-firewall stop
ExecReload=/lib/systemd/lernstick-firewall reload

[Install]
WantedBy=basic.target
