[Unit]
Description=The Lernstick firewall
DefaultDependencies=no
Before=network.target dbus-org.freedesktop.nm-dispatcher.service NetworkManager.service


[Service]
Type=exec
User=proxy
Group=proxy
RuntimeDirectory=lernstick-firewall
RuntimeDirectoryMode=0775
ExecStartPre=+/usr/bin/bash -c "cat /etc/lernstick-firewall/proxy.d/* > /etc/lernstick-firewall/url_whitelist"
ExecStartPre=+/usr/sbin/lernstick-firewall start
ExecStart=/usr/bin/mitmdump  --set confdir=/usr/share/lernstick-firewall/ca --mode transparent -s /usr/share/lernstick-firewall/filter.py
ExecStopPost=+/usr/sbin/lernstick-firewall stop


[Install]
WantedBy=network.target dbus-org.freedesktop.nm-dispatcher.service NetworkManager.service
