#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh ${@} --with=systemd

override_dh_fixperms:
	dh_fixperms --exclude /etc/lernstick-firewall

override_dh_installinit:
	dh_installinit --restart-after-upgrade

override_dh_usrlocal:
